<!-- <form action="/bars/search" method="post">
  Enter the name of a bar you're looking for:
  <input type="text" name="name">
  <input type="submit" value="submit">
</form> -->

<%= form_tag("/bars/search", method: "get") do %>
  <%= label_tag(:name, "Enter the name of a bar you're looking for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag "Search" %>
<% end %>
